-- MySQL dump 10.13  Distrib 5.7.27, for Win32 (AMD64)
--
-- Host: db-godinner.cpmvqfvc7pth.sa-east-1.rds.amazonaws.com    Database: db_godinner
-- ------------------------------------------------------
-- Server version	5.7.26-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED='';

--
-- Table structure for table `tbl_avaliacao_usuario`
--

DROP TABLE IF EXISTS `tbl_avaliacao_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_avaliacao_usuario` (
  `id_avaliacao_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `id_restaurante` int(11) NOT NULL,
  `id_consumidor` int(11) NOT NULL,
  `nota` double NOT NULL,
  `comentario` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`id_avaliacao_usuario`),
  KEY `fk_comentario_restaurante_idx` (`id_restaurante`),
  KEY `fk_comentario_consumidor_idx` (`id_consumidor`),
  CONSTRAINT `fk_comentario_consumidor` FOREIGN KEY (`id_consumidor`) REFERENCES `tbl_consumidor` (`id_consumidor`),
  CONSTRAINT `fk_comentario_restaurante` FOREIGN KEY (`id_restaurante`) REFERENCES `tbl_restaurante` (`id_restaurante`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_avaliacao_usuario`
--

LOCK TABLES `tbl_avaliacao_usuario` WRITE;
/*!40000 ALTER TABLE `tbl_avaliacao_usuario` DISABLE KEYS */;
INSERT INTO `tbl_avaliacao_usuario` VALUES (1,153,11,5,NULL),(2,153,14,3,NULL),(3,154,11,4,NULL),(5,153,15,2,NULL),(6,154,11,3,NULL);
/*!40000 ALTER TABLE `tbl_avaliacao_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_categoria`
--

DROP TABLE IF EXISTS `tbl_categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_categoria` (
  `id_categoria` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(45) NOT NULL,
  `foto` varchar(255) NOT NULL,
  `descricao` varchar(45) DEFAULT NULL,
  `status` tinyint(4) DEFAULT '1',
  PRIMARY KEY (`id_categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_categoria`
--

LOCK TABLES `tbl_categoria` WRITE;
/*!40000 ALTER TABLE `tbl_categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_categoria_produto`
--

DROP TABLE IF EXISTS `tbl_categoria_produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_categoria_produto` (
  `id_categoria_produto` int(11) NOT NULL AUTO_INCREMENT,
  `id_categoria` int(11) NOT NULL,
  `id_produto` int(11) NOT NULL,
  PRIMARY KEY (`id_categoria_produto`),
  KEY `fk_categoria_produto_idx` (`id_categoria`),
  KEY `fk_produto_categoria_idx` (`id_produto`),
  CONSTRAINT `fk_categoria_produto` FOREIGN KEY (`id_categoria`) REFERENCES `tbl_categoria` (`id_categoria`) ON DELETE CASCADE,
  CONSTRAINT `fk_produto_categoria` FOREIGN KEY (`id_produto`) REFERENCES `tbl_produto` (`id_produto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=221 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_categoria_produto`
--

LOCK TABLES `tbl_categoria_produto` WRITE;
/*!40000 ALTER TABLE `tbl_categoria_produto` DISABLE KEYS */;
INSERT INTO `tbl_categoria_produto` VALUES (99,6,134),(101,3,137),(171,4,140),(183,1,142),(185,1,142),(190,1,142),(191,1,142),(194,2,147),(195,8,148),(196,4,149),(197,2,150),(198,4,151),(200,11,154),(204,3,154),(205,4,155),(210,3,158),(211,7,158),(212,1,158),(213,8,158),(214,1,159),(215,2,159),(216,4,159),(217,1,138),(218,4,144),(219,5,162),(220,7,162);
/*!40000 ALTER TABLE `tbl_categoria_produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_cidade`
--

DROP TABLE IF EXISTS `tbl_cidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_cidade` (
  `id_cidade` int(11) NOT NULL AUTO_INCREMENT,
  `cidade` varchar(120) NOT NULL,
  `id_estado` int(2) NOT NULL,
  PRIMARY KEY (`id_cidade`),
  KEY `fk_estado_cidade_idx` (`id_estado`),
  CONSTRAINT `fk_estado_cidade` FOREIGN KEY (`id_estado`) REFERENCES `tbl_estado` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=5300109 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_cidade`
--

LOCK TABLES `tbl_cidade` WRITE;
/*!40000 ALTER TABLE `tbl_cidade` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_cidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_consumidor`
--

DROP TABLE IF EXISTS `tbl_consumidor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_consumidor` (
  `id_consumidor` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(45) NOT NULL,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) DEFAULT NULL,
  `cpf` varchar(15) NOT NULL,
  `telefone` varchar(15) DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `id_endereco` int(11) NOT NULL,
  `id_nivel_usuario` int(11) NOT NULL DEFAULT '3',
  PRIMARY KEY (`id_consumidor`),
  UNIQUE KEY `email_UNIQUE` (`email`),
  UNIQUE KEY `cpf_UNIQUE` (`cpf`),
  KEY `fk_endereco_consumidor_idx` (`id_endereco`),
  KEY `fk_nivel_usuario_idx` (`id_nivel_usuario`),
  CONSTRAINT `fk_endereco_consumidor` FOREIGN KEY (`id_endereco`) REFERENCES `tbl_endereco` (`id_endereco`),
  CONSTRAINT `fk_nivel_consumidor_usuairo` FOREIGN KEY (`id_nivel_usuario`) REFERENCES `tbl_nivel_usuario` (`id_nivel_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_consumidor`
--

LOCK TABLES `tbl_consumidor` WRITE;
/*!40000 ALTER TABLE `tbl_consumidor` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_consumidor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_endereco`
--

DROP TABLE IF EXISTS `tbl_endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_endereco` (
  `id_endereco` int(11) NOT NULL AUTO_INCREMENT,
  `cep` varchar(10) NOT NULL,
  `numero` varchar(6) NOT NULL,
  `logradouro` varchar(70) NOT NULL,
  `bairro` varchar(30) NOT NULL,
  `complemento` varchar(20) DEFAULT '',
  `referencia` varchar(100) DEFAULT '',
  `id_cidade` int(11) NOT NULL,
  PRIMARY KEY (`id_endereco`)
) ENGINE=InnoDB AUTO_INCREMENT=271 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_endereco`
--

LOCK TABLES `tbl_endereco` WRITE;
/*!40000 ALTER TABLE `tbl_endereco` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_estado`
--

DROP TABLE IF EXISTS `tbl_estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_estado` (
  `id_estado` int(11) NOT NULL AUTO_INCREMENT,
  `estado` varchar(75) NOT NULL,
  `uf` varchar(2) NOT NULL,
  PRIMARY KEY (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_estado`
--

LOCK TABLES `tbl_estado` WRITE;
/*!40000 ALTER TABLE `tbl_estado` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_estado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_foto_produto`
--

DROP TABLE IF EXISTS `tbl_foto_produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_foto_produto` (
  `id_foto_produto` int(11) NOT NULL AUTO_INCREMENT,
  `id_produto` int(11) NOT NULL,
  `foto` varchar(255) NOT NULL,
  `index_foto` int(11) DEFAULT NULL,
  `legenda` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`id_foto_produto`),
  KEY `fk_foto_produto_idx` (`id_produto`),
  CONSTRAINT `fk_foto_produto` FOREIGN KEY (`id_produto`) REFERENCES `tbl_produto` (`id_produto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_foto_produto`
--

LOCK TABLES `tbl_foto_produto` WRITE;
/*!40000 ALTER TABLE `tbl_foto_produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_foto_produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_funcionario`
--

DROP TABLE IF EXISTS `tbl_funcionario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_funcionario` (
  `id_funcionario` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) NOT NULL,
  `email` varchar(150) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `id_nivel_usuario` int(11) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_funcionario`),
  UNIQUE KEY `email_UNIQUE` (`email`),
  KEY `fk_nivel_funcionario_usuario_idx` (`id_nivel_usuario`),
  CONSTRAINT `fk_nivel_funcionario_usuario` FOREIGN KEY (`id_nivel_usuario`) REFERENCES `tbl_nivel_usuario` (`id_nivel_usuario`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_funcionario`
--

LOCK TABLES `tbl_funcionario` WRITE;
/*!40000 ALTER TABLE `tbl_funcionario` DISABLE KEYS */;
INSERT INTO `tbl_funcionario` VALUES (2,'Sarah','sarah@teste.com','25f9e794323b453885f5181f1b624d0b',1),(3,'Washington','washington@teste.com','25f9e794323b453885f5181f1b624d0b',1);
/*!40000 ALTER TABLE `tbl_funcionario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_informacoes_template`
--

DROP TABLE IF EXISTS `tbl_informacoes_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_informacoes_template` (
  `id_informacoes_template` int(11) NOT NULL AUTO_INCREMENT,
  `id_restaurante` int(11) NOT NULL,
  `slogan` varchar(255) NOT NULL,
  `sobre` text NOT NULL,
  `foto_principal` varchar(255) NOT NULL,
  PRIMARY KEY (`id_informacoes_template`),
  KEY `fk_templete_restaurante_idx` (`id_restaurante`),
  CONSTRAINT `fk_templete_restaurante` FOREIGN KEY (`id_restaurante`) REFERENCES `tbl_restaurante` (`id_restaurante`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_informacoes_template`
--

LOCK TABLES `tbl_informacoes_template` WRITE;
/*!40000 ALTER TABLE `tbl_informacoes_template` DISABLE KEYS */;
INSERT INTO `tbl_informacoes_template` VALUES (250,168,'AAA','aaaaaaaaaaaa','/restaurante/template/imagemTemplate3.jpg');
/*!40000 ALTER TABLE `tbl_informacoes_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_mensagens_suporte_consumidor`
--

DROP TABLE IF EXISTS `tbl_mensagens_suporte_consumidor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_mensagens_suporte_consumidor` (
  `id_mensagens_suporte_consumidor` int(11) NOT NULL AUTO_INCREMENT,
  `id_suporte_consumidor` int(11) NOT NULL,
  `remetente` char(1) NOT NULL,
  `mensagem` varchar(255) DEFAULT NULL,
  `data_envio` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_mensagens_suporte_consumidor`),
  KEY `fk_suporte_consumidor_rel_idx` (`id_suporte_consumidor`),
  CONSTRAINT `fk_suporte_consumidor_rel` FOREIGN KEY (`id_suporte_consumidor`) REFERENCES `tbl_suporte_consumidor` (`id_suporte_consumidor`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=250 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_mensagens_suporte_consumidor`
--

LOCK TABLES `tbl_mensagens_suporte_consumidor` WRITE;
/*!40000 ALTER TABLE `tbl_mensagens_suporte_consumidor` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_mensagens_suporte_consumidor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_nivel_usuario`
--

DROP TABLE IF EXISTS `tbl_nivel_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_nivel_usuario` (
  `id_nivel_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nivel` int(11) NOT NULL,
  `nome` varchar(20) NOT NULL,
  `descricao` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_nivel_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_nivel_usuario`
--

LOCK TABLES `tbl_nivel_usuario` WRITE;
/*!40000 ALTER TABLE `tbl_nivel_usuario` DISABLE KEYS */;
INSERT INTO `tbl_nivel_usuario` VALUES (1,1,'ADIMIN','Adiministradores do sistema'),(2,2,'RESTAURANTE','Restaurantes do sistema'),(3,3,'CONSUMIDOR','Consumidores do sistema');
/*!40000 ALTER TABLE `tbl_nivel_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_pedido`
--

DROP TABLE IF EXISTS `tbl_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_pedido` (
  `id_pedido` int(11) NOT NULL AUTO_INCREMENT,
  `id_restaurante` int(11) NOT NULL,
  `valor_entrega` double NOT NULL,
  `valor_total` double NOT NULL,
  `data_do_pedido` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `comissao_paga` tinyint(4) NOT NULL DEFAULT '0',
  `id_status_pedido` int(11) NOT NULL DEFAULT '1',
  `id_consumidor` int(11) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_pedido`),
  KEY `fk_pedido_restaurante_idx` (`id_restaurante`),
  KEY `fk_status_pedido_idx` (`id_status_pedido`),
  KEY `fk_pedido_consumidor_idx` (`id_consumidor`),
  CONSTRAINT `fk_consumidor_pedido` FOREIGN KEY (`id_consumidor`) REFERENCES `tbl_consumidor` (`id_consumidor`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_pedido_restaurante` FOREIGN KEY (`id_restaurante`) REFERENCES `tbl_restaurante` (`id_restaurante`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_status_pedido` FOREIGN KEY (`id_status_pedido`) REFERENCES `tbl_status_pedido` (`id_status_pedido`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_pedido`
--

LOCK TABLES `tbl_pedido` WRITE;
/*!40000 ALTER TABLE `tbl_pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_pergunta_resposta`
--

DROP TABLE IF EXISTS `tbl_pergunta_resposta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_pergunta_resposta` (
  `id_pergunta_resposta` int(11) NOT NULL AUTO_INCREMENT,
  `pergunta` varchar(255) NOT NULL,
  `resposta` varchar(255) NOT NULL,
  PRIMARY KEY (`id_pergunta_resposta`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_pergunta_resposta`
--

LOCK TABLES `tbl_pergunta_resposta` WRITE;
/*!40000 ALTER TABLE `tbl_pergunta_resposta` DISABLE KEYS */;
INSERT INTO `tbl_pergunta_resposta` VALUES (1,'oi','oi'),(2,'Ola','Ola'),(3,'Oi','Ooi'),(4,'Bom dia!','Boom dia!!!'),(5,'Bom dia!','Boom dia!!!'),(6,'Bom dia!','Boom dia!!!'),(7,'Bom dia!','Boom dia!!!'),(8,'Bom dia!','Boom dia!!!'),(9,'Bom dia!','Boom dia!!!'),(10,'Tudo Bem?','Estou ├│timo e vc?'),(11,'Tudo Bem?','Estou ├│timo e vc?');
/*!40000 ALTER TABLE `tbl_pergunta_resposta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_produto`
--

DROP TABLE IF EXISTS `tbl_produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_produto` (
  `id_produto` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(45) NOT NULL,
  `preco` int(11) NOT NULL,
  `desconto` int(11) NOT NULL DEFAULT '0',
  `id_restaurante` int(11) NOT NULL,
  `descricao` varchar(40) DEFAULT NULL,
  `vendidos` int(11) NOT NULL DEFAULT '0',
  `status` tinyint(4) DEFAULT '1',
  PRIMARY KEY (`id_produto`),
  KEY `fk_produto_restaurante_idx` (`id_restaurante`),
  CONSTRAINT `fk_produto_restaurante` FOREIGN KEY (`id_restaurante`) REFERENCES `tbl_restaurante` (`id_restaurante`)
) ENGINE=InnoDB AUTO_INCREMENT=173 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_produto`
--

LOCK TABLES `tbl_produto` WRITE;
/*!40000 ALTER TABLE `tbl_produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_produto_pedido`
--

DROP TABLE IF EXISTS `tbl_produto_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_produto_pedido` (
  `id_produto_pedido` int(11) NOT NULL AUTO_INCREMENT,
  `id_produto` int(11) NOT NULL,
  `id_pedido` int(11) NOT NULL,
  `quantidade` int(11) NOT NULL,
  PRIMARY KEY (`id_produto_pedido`),
  KEY `fk_pedido_produto_idx` (`id_produto`),
  KEY `fk_pedido_pedido_sacola_idx` (`id_pedido`),
  CONSTRAINT `fk_pedido_pedido_sacola` FOREIGN KEY (`id_pedido`) REFERENCES `tbl_pedido` (`id_pedido`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_pedido_produto` FOREIGN KEY (`id_produto`) REFERENCES `tbl_produto` (`id_produto`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_produto_pedido`
--

LOCK TABLES `tbl_produto_pedido` WRITE;
/*!40000 ALTER TABLE `tbl_produto_pedido` DISABLE KEYS */;
INSERT INTO `tbl_produto_pedido` VALUES (31,148,68,2),(32,151,68,1),(33,148,69,2),(34,151,69,1),(35,148,70,2),(36,151,70,1),(37,148,71,2),(38,151,71,1),(39,148,72,2),(40,151,72,1),(41,148,73,2),(42,151,73,1),(43,148,74,2),(44,151,74,1),(45,148,75,2),(46,151,75,1),(47,148,76,2),(48,151,76,1),(49,148,77,2),(50,151,77,1),(51,148,78,2),(52,151,78,1),(53,148,79,2),(54,151,79,1),(55,148,80,2),(56,151,80,1),(57,148,81,2),(58,151,81,1),(59,148,82,2),(60,151,82,1),(61,148,83,2),(62,151,83,1),(63,148,84,2);
/*!40000 ALTER TABLE `tbl_produto_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_restaurante`
--

DROP TABLE IF EXISTS `tbl_restaurante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_restaurante` (
  `id_restaurante` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `razao_social` varchar(50) NOT NULL,
  `cnpj` varchar(18) NOT NULL,
  `telefone` varchar(13) DEFAULT NULL,
  `id_endereco` int(11) NOT NULL,
  `criacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ultima_atualizacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_nivel_usuario` int(11) NOT NULL DEFAULT '2',
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `foto` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_restaurante`),
  UNIQUE KEY `email_UNIQUE` (`email`),
  UNIQUE KEY `cnpj_UNIQUE` (`cnpj`),
  KEY `fk_endereco_restaurante_idx` (`id_endereco`),
  KEY `fk_nivel_restaurante_usuario_idx` (`id_nivel_usuario`),
  CONSTRAINT `fk_endereco_restaurante` FOREIGN KEY (`id_endereco`) REFERENCES `tbl_endereco` (`id_endereco`),
  CONSTRAINT `fk_nivel_restaurante_usuario` FOREIGN KEY (`id_nivel_usuario`) REFERENCES `tbl_nivel_usuario` (`id_nivel_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=203 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_restaurante`
--

LOCK TABLES `tbl_restaurante` WRITE;
/*!40000 ALTER TABLE `tbl_restaurante` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_restaurante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_status_pedido`
--

DROP TABLE IF EXISTS `tbl_status_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_status_pedido` (
  `id_status_pedido` int(11) NOT NULL AUTO_INCREMENT,
  `descricao` varchar(45) NOT NULL,
  PRIMARY KEY (`id_status_pedido`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_status_pedido`
--

LOCK TABLES `tbl_status_pedido` WRITE;
/*!40000 ALTER TABLE `tbl_status_pedido` DISABLE KEYS */;
INSERT INTO `tbl_status_pedido` VALUES (1,'AGUARDANDO CONFIRMA├ç├âO'),(2,'EM PRODU├ç├âO'),(3,'SAIU PARA ENTREGA'),(4,'FINALIZADO');
/*!40000 ALTER TABLE `tbl_status_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_suporte_consumidor`
--

DROP TABLE IF EXISTS `tbl_suporte_consumidor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_suporte_consumidor` (
  `id_suporte_consumidor` int(11) NOT NULL AUTO_INCREMENT,
  `id_consumidor` int(11) NOT NULL,
  `id_funcionario` int(11) DEFAULT NULL,
  `inicio_suporte` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fim_suporte` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_suporte_consumidor`),
  KEY `fk_suporte_consumidor_funcionario_idx` (`id_funcionario`),
  KEY `fk_suporte_consumidor_consumidor_idx` (`id_consumidor`),
  CONSTRAINT `fk_suporte_consumidor_consumidor` FOREIGN KEY (`id_consumidor`) REFERENCES `tbl_consumidor` (`id_consumidor`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_suporte_consumidor_funcionario` FOREIGN KEY (`id_funcionario`) REFERENCES `tbl_funcionario` (`id_funcionario`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=254 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_suporte_consumidor`
--

LOCK TABLES `tbl_suporte_consumidor` WRITE;
/*!40000 ALTER TABLE `tbl_suporte_consumidor` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_suporte_consumidor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `view_arrecadacao_restaurante`
--

DROP TABLE IF EXISTS `view_arrecadacao_restaurante`;
/*!50001 DROP VIEW IF EXISTS `view_arrecadacao_restaurante`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_arrecadacao_restaurante` AS SELECT 
 1 AS `resultado`,
 1 AS `id_restaurante`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_qtd_pedido_restaurante`
--

DROP TABLE IF EXISTS `view_qtd_pedido_restaurante`;
/*!50001 DROP VIEW IF EXISTS `view_qtd_pedido_restaurante`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_qtd_pedido_restaurante` AS SELECT 
 1 AS `resultado`,
 1 AS `id_restaurante`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_arrecadacao_restaurante`
--

/*!50001 DROP VIEW IF EXISTS `view_arrecadacao_restaurante`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `view_arrecadacao_restaurante` AS select (`p`.`valor_total` - ((sum(`p`.`valor_total`) * 9) / 100)) AS `resultado`,`p`.`id_restaurante` AS `id_restaurante` from `tbl_pedido` `p` where (`p`.`id_status_pedido` = 4) group by `p`.`id_restaurante` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_qtd_pedido_restaurante`
--

/*!50001 DROP VIEW IF EXISTS `view_qtd_pedido_restaurante`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `view_qtd_pedido_restaurante` AS select count(`p`.`valor_total`) AS `resultado`,`p`.`id_restaurante` AS `id_restaurante` from `tbl_pedido` `p` where (`p`.`id_status_pedido` = 4) group by `p`.`id_restaurante` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-11-22 16:13:46
